In [1]:
import pandas as pd
from tqdm import tqdm
import os

In [2]:
#!pip install xlrd==1.2.0

In [6]:
file_paths = ['D:\\2021 thai data\\commercial_bank\\',
              'D:\\2021 thai data\\credit_company\\',
              'D:\\2021 thai data\\finance_company\\']

In [7]:
final_values = []
for file_path in file_paths:
    files = os.listdir(file_path)
    company_type_ref = file_path.split('\\')[-2]
    print(company_type_ref)
    
    for file in tqdm(files):
        df = pd.read_excel(file_path + file)

        #change cols name
        df.columns = ['A','B','C','D','E','F','G','H','I']

        #extract company name
        company_name = df['B'].values[0]

        #extract month & year
        month = df['B'].values[3].split(' ')[-2]
        year = df['B'].values[3].split(' ')[-1]

        ################################ extract Assets ###################################

        # extract assets using index
        asset_start = df[df['B']=='Assets'].index[0]
        asset_stop = df[df['B']=='      Total assets'].index[0]

        #slice dataframe
        df_asset = df.iloc[asset_start+1:asset_stop]

        #drop unnecessary cols
        df_asset = df_asset[['B','E']]

        # drop na
        df_asset = df_asset.dropna(subset=['B'])

        main_category = 'Assets'
        if company_type_ref == 'credit_company':
            company_type = 'Credit Company'
        elif company_type_ref == 'finance_company':
            company_type = 'Finance Company'
        elif company_type_ref == 'commercial_bank':
            company_type = 'Commercial Bank'

        company_name
        month
        year

        assets_values = []
        for index, row in df_asset.iterrows():
            sub_category = row[0]
            amount = row[1]
            value = [main_category, sub_category, amount, company_name, company_type, month, year]
            assets_values.append(value)

        ############################## extract Liabilities ######################################

        # extract liabilities using index
        liability_start = df[df['F']=='Liabilities'].index[0]
        liability_end = df[df['F']=='   Total liabilities'].index[0]

        # slice dataframe
        df_liability = df.iloc[liability_start+1:liability_end]

        # drop unnecessary cols
        df_liability = df_liability[['F','I']]

        # drop null
        df_liability = df_liability.dropna(subset=['F'])

        main_category = 'Liabilities'
        company_type
        company_name
        month
        year

        liabilities_values = []
        for index, row in df_liability.iterrows():
            sub_category = row[0]
            amount = row[1]
            value = [main_category, sub_category, amount, company_name, company_type, month, year]
            liabilities_values.append(value)

        ###################################### extract shareholder's equity ##################################

        # extract equities using index
        equity_start = df[df['F']=="Shareholders' equity"].index[0]
        equity_end = df[df['F']=="   Total shareholders' equity"].index[0]

        # slice dataframe
        df_equity = df.iloc[equity_start+1: equity_end]

        # drop unnecessary cols
        df_equity = df_equity[['F','I']]

        # drop null
        df_equity = df_equity.dropna(subset=['F'])

        main_category = "Equity"
        company_type
        company_name
        month
        year

        equity_values = []
        for index, row in df_equity.iterrows():
            sub_category = row[0]
            amount = row[1]
            value = [main_category, sub_category, amount, company_name, company_type, month, year]
            equity_values.append(value)

        ####################################### output ###############################

        value = assets_values + liabilities_values + equity_values

        final_values = final_values + value
    print(company_type_ref + ' is completed.')

commercial_bank

100%|████████████████████████████████████████████████████████████████████████████████| 132/132 [01:32<00:00,  1.43it/s]

commercial_bank is completed.
credit_company

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:04<00:00,  4.68it/s]

credit_company is completed.
finance_company

100%|██████████████████████████████████████████████████████████████████████████████████| 14/14 [00:07<00:00,  1.97it/s]

finance_company is completed.

In [8]:
out_df = pd.DataFrame(final_values)

out_df.columns = ['Category','Sub Category','Amount','Company Name', 'Company Type','Month','Year']

#convert from thousands
out_df['Amount'] = out_df['Amount']*1000

out_df

,Category,Sub Category,Amount,Company Name,Company Type,Month,Year
0,Assets,Cash,62118263000,BANGKOK BANK PUBLIC COMPANY LTD.,Commercial Bank,January,2021
1,Assets,Interbank and money market items - net,482286491000,BANGKOK BANK PUBLIC COMPANY LTD.,Commercial Bank,January,2021
2,Assets,Financial assets measured at fair value throug...,73114994000,BANGKOK BANK PUBLIC COMPANY LTD.,Commercial Bank,January,2021
3,Assets,Derivatives assets,61118051000,BANGKOK BANK PUBLIC COMPANY LTD.,Commercial Bank,January,2021
4,Assets,Investments - net,609555556000,BANGKOK BANK PUBLIC COMPANY LTD.,Commercial Bank,January,2021
...,...,...,...,...,...,...,...
3230,Liabilities,Debt issued and borrowings,6000000000,SRISAWAD FINANCE PUBLIC COMPANY LIMITED,Finance Company,July,2021
3231,Liabilities,Other liabilities,4498840952000,SRISAWAD FINANCE PUBLIC COMPANY LIMITED,Finance Company,July,2021
3232,Equity,Equity portion,7055964677000,SRISAWAD FINANCE PUBLIC COMPANY LIMITED,Finance Company,July,2021
3233,Equity,Other reserves,0,SRISAWAD FINANCE PUBLIC COMPANY LIMITED,Finance Company,July,2021
3234,Equity,Retained earnings,2387522003000,SRISAWAD FINANCE PUBLIC COMPANY LIMITED,Finance Company,July,2021

In [9]:
month_update = input("Enter the month update (april, may, etc.): ")

out_df.to_excel('output/commercial_credit_finance_'+month_update+'_update_2021.xlsx', index=False)

Enter the month update (april, may, etc.): july